*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'poppins';
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7fbed6;
}

header {
    background-color: #155bac;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: rgb(7, 65, 46);
}

.logo {
    width: 150px;
    height: auto;
    display: inline;
    margin-right: 1200px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

section {
    padding: 40px;
}

.username{
    color: rgb(86, 12, 100);
    font-family:'Times New Roman', Times, serif;
}

.password{
    color: rgb(86, 12, 100);
    font-family:'Times New Roman', Times, serif;
}

.para{
    color: rgb(86, 12, 100);
    font-family:'Times New Roman', Times, serif;
}

.email{
    color: rgb(86, 12, 100);
    font-family:'Times New Roman', Times, serif;
}
#about{
    color: rgb(23, 70, 54);
    font-family:'Times New Roman', Times, serif;
}

#services{
    color: rgb(23, 70, 54);
    font-family:'Times New Roman', Times, serif;
}

#contact{
    color: rgb(23, 70, 54);
    font-family:'Times New Roman', Times, serif;
}

#login{
    color: rgb(23, 70, 54);
    font-family:'Times New Roman', Times, serif;
}

footer {
    background-color: #155bac;
    color: white;
    text-align: center;
    padding: 20px 0;
}